*{
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.header{
    background-color: #3498DB;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__img {
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }

  .header__menu {
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header__menu--categories a{
    padding-right: 15px;
    text-decoration: none;
    color: white;
  }

  .header__menu--profile{
    padding-right: 15px;
    text-decoration: none;
    color: white;
  }

  .header__menu--profile ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -12px;
    background-color: #3498DB;
  }

  .header__menu--profile li {
    margin: 10px 0px;
  }

  .header__menu li a {
    color: white;
    text-decoration: none;
    padding-right: 15px;
  }

  .header__menu--profile:hover ul, ul:hover {
    display: block;
  }
  .profile__img{
      width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .profile__img img{
    width: 35px;
  }
  

  .main {
    /* overflow: scroll; */
    padding-left: 0px;
    width: 100%;
    display: flex;
    align-items: stretch;
    padding-top: 30px;
    /* position: center; */
  }

  .main__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .main-item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 70%;
    height: 700px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
/*     transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left; */
  }
  

  .main-item__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  

  .main-item__details {
    align-items: flex-start;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .main-item__details--title {
    color: white;
    margin: 5px 0px 0px 0px;
  }
  
  .main-item__details--subtitle {
    color: white;
    font-size: 18px;
    margin: 3px 0px;
  }

  .main-item__details--img {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .main-item__details--img img{
    width: 25px;
  }
  .main-item__details--img span{
    font-size: 12px;
    color: white;
  }



  .topics {
    /* overflow: scroll; */
    padding-left: 0px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  .topics__container {
    width: 426px;
    height: 240px;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 35px;
    
  }

  .topics-item {
    border-radius: 10px;
    overflow: auto;
    position: relative;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
    overflow: hidden;
/*     transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left; */
  }
  
  .topics-item__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .topics-item__details {
    align-items: flex-start;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topics-item__details--title {
    color: white;
    margin: 5px 0px 0px 0px;
  }
  
  .topics-item__details--subtitle {
    color: white;
    font-size: 12px;
    margin: 3px 0px;
  }

  .topics-item__details--img {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .topics-item__details--img img{
    width: 25px;
  }
  .topics-item__details--img span{
    font-size: 12px;
    color: white;
  }